@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.logoContainer{
    max-height: 40px;
   .logo{
        display: flex;
        justify-content: center;   
        div{
            margin-left: 5px;
            font-size: 1.2em;
            font-weight: 900;
            font-family: 'Anton', sans-serif;
        } 
   }
   .slogan{
       margin-left: 50px;
       font-size: 0.8em;
       margin-top: -5px;
   }
}